####################################
# Visual Studio / .NET
####################################

# VS cache
**/.vs/

# Build results
**/bin/
**/obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

####################################
# Logs & temp
####################################
*.log
*.tmp
*.temp

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# NuGet
####################################
packages/
*.nupkg

# .NET build folders
bin/
obj/
